<%- include('../partials/header') %>

<h1>show page</h1>

<h4>Title:</h4>
<p><%= post.title %></p>

<h4>Post:</h4>
<p><%= post.body %></p>
<form action="#" method="POST">
<label>Reply:
        <textarea rows="15" cols="50" name="body"></textarea>
    </label>
    <br>
    <button type="submit" class="btn btn-outline-primary">Submit reply</button>
</form>



<%- include('../partials/footer') %>