* {
  box-sizing: border-box;
  font-family: Helvetica;
  /* color: #424748; */
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav {
  font-family: 'Orbitron', sans-serif;

}

a {
  color: black;
}

main {
  height:100vh;
  width: 100vw;
}



.hide {
  display: none;
}


.table {
  border: solid 3px black;
  font-size: 12px;
  /* width: 150vh;
  height: 40vh;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -540px; 
} */

.card {
  display:flex;
  justify-content: center;
  width: 80%;
}

.card-container {
  width: 70%;
}

