* {
  box-sizing: border-box;
  font-family: Helvetica;
  /* color: #424748; */
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#navigation {
  font-family: 'Orbitron', sans-serif;
}

a {
  color: black;
}

main {
  height:100vh;
  width: 100vw;
}



.hide {
  display: none;
}


.table {
  border: solid 2px black;
  font-size: 14px;
} 

.card {
  width: 80%;
}

.card-container {
  width: 70%;
}

.bg-nav {
  background-color: #004225;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  background: url("../images/merc-bg.jpg");
  background-size: cover;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;  
}

#avatar {
  width: 30px;
  height: 30px;
}
